<div class="container">
  <article class="blog-post pb-5 pt-5">
    <h3>Title: <%= @post.title %></h3>
    <p class="ms-5 mt-5"><%= @post.content %></p>
  </article>
  <p>
    <strong>Image:</strong>
    <div style="width: 30rem">
        <%= image_tag @post.image.url, :class => "card-img-top" %>
    </div>
  </p>
  <p>
    <a href="<%=posts_path%>" class="btn btn-primary">Back</a>
  </p>
</div>